$primary-font: "Fredoka", Arial, sans-serif;
$secondary-font: "Inter", Arial, sans-serif;
$hand-font: "Patrick Hand", cursive, Arial, sans-serif;

$primary-pink: #eaadbd;
$blush-pink: #fde7ec;
$secondary-pink: #d16d8c;
$sage-green: #88b78a;
$brown-gray: #3c2f2f;
$gray-white: #faf7f7;
$white: #ffffff;
$black: #000000;
$darkish-gray: #424242;
