$primary-font: "Fredoka", Arial, sans-serif;
$secondary-font: "Inter", Arial, sans-serif;

$primary-pink: rgb(234, 173, 189);
$blush-pink: #fde7ec;
$secondary-pink: #d16d8c;
$sage-green: #88b78a;
$brown-gray: #3c2f2f;
$gray-white: #faf7f7;
$white: #ffffff;
$black: #000000;
